@import 'bootstrap-customizations.scss';


body{
	background: #dddddd;

	p {
		color: $brand-success;
	}
	.someimage {
		width: 100px;
		height: 100px;
		border: 1px solid blue;
		background: url('../images/thumb.png') center center;
		background-repeat: no-repeat;
		background-size: 100px 100px;
	}
}