<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<p>test hello world </p>
<p>background image</p>
<p class="hello">test hello class</p>
<hr/>
<div class="someimage">
</div>
<hr/>
<p>inline image tag</p>
<!--<img src="./images/webpack.png" />-->
<img style="width:100px; height:100px;" src=<%= require("./images/webpack.png") %> />
<hr/>
<p>Include bootstrap 4 beta 2.0</p>
<button class="btn btn-primary">test</button>
</body>
</html>